<div id="contact" class="container-fluid text-center bg-grey">
  <h2>Contact US</h2>
  <div class="col-sm-4 ">
    <div class="thumbnail gap">

    </div>
  </div>

  <div class="col-sm-4 ">
    <div class="thumbnail gap">

    </div>
  </div>

  <div class="col-sm-4 ">
    <div class="thumbnail gap">

      <!--Form with header-->

      <form class="well form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <fieldset>

          <!-- Form Name -->
          <legend>Contact Us Today!</legend>

          <!-- Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">Name</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="name" placeholder="Name" [(ngModel)]="emailObject.name" #name="ngModel" class="form-control" type="text" required>
              </div>
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required">First Name is required</div>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" placeholder="E-Mail Address" class="form-control" type="text" required email [(ngModel)]="emailObject.email" required #email="ngModel">
              </div>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>

          <!-- Text area -->
          <div class="form-group">
            <label class="col-md-4 control-label">Message</label>
            <div class="col-md-8 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <textarea class="form-control" name="message" placeholder="Enter your message" [(ngModel)]="emailObject.message"></textarea>
              </div>
            </div>
          </div>

          <!-- Success message -->
          <div *ngIf="isShow" class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i>
            Thanks for contacting us, we will get back to you shortly.</div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary btn-color">Send <span class="glyphicon glyphicon-send"></span></button>
              <!-- <button (click)="socialSignIn('google')">Sign in with Google</button> -->
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>